body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote, table, tr, td, th {
	margin: 0; padding: 0; border: 0;
}

body {
	background: #000 url(../img/back.jpg) center top fixed no-repeat;
	font: 16px Georgia, Serif; color: #ccc;
}

h1 {
	width: 168px; height: 130px; margin: 30px auto; position: relative;
        text-indent: -9999px;
}

#container {
	width: 940px; margin: -115px auto; padding: 110px 10px 50px 10px;
	box-shadow: 02px -05px 10px blue;
}

table {
	border-spacing: 05px 0px;
}

th, td {
        width:200px;
	text-align: center; padding: 10px;
}

.feature {
	width: 183px; text-align: right;
	font-size: 24px; font-weight: normal; color: red;
         background: rgba(25,120,250,0.3); 
}

.ravi1, .ravi2, .ravi3 {
	background: rgba(125,90,45,0.2);
font-size: 24px; font-weight: normal; color: brown;
}

h2 {
	font-size: 24px; font-weight: normal; color: black; 
}

tr:hover {
	background: rgba(255,255,255,0.6);
}
	thead tr:hover {
		background: none;
	}
#ravi{      font:35px Times New Roman ;
            color: black;
}
#iframeravi{margin-left:210px;
 background-color:#764329;
}
#ravi11{text-align: center;}